
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('imagens/9cLsXn9jTYeeg5NPPlyyEQ.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(5px);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  text-align: center;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}

input {
  flex: 1;
  padding: 0.75rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

input:focus {
  border-color: #3498db;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#limparLista {
  padding: 0.75rem 1.5rem;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

#limparLista:hover {
  background-color: #c0392b;
}

#listaTermos {
  list-style-type: none;
  padding: 0;
}

#listaTermos li {
  background-color: rgba(160, 233, 252, 0.9);
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#listaTermos li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}